@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: 'Montserrat', sans-serif;
  margin:0;
  background-image: url(https://s-media-cache-ak0.pinimg.com/736x/0b/2c/38/0b2c384b0e930824887f799fe842c836.jpg);
}
.header {
  text-align: right;
  background-color: rgba(5,5,5,0.5);
  padding:10px 20px;
  border-bottom: 1px solid white;
  a {
    font-size: 20px;
    color: white;
    padding: 0 5px;
  }
}
.main-box{
  text-align: center;
  img {
    width:550px;
    border-radius:50%;
  }
}
