@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Zeyada);
@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
@pastpurple: rgb(227, 164, 249);
@pastblue: rgb(161, 218, 255);
@pastmint: rgb(149, 246, 188);
body {
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 0;
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/0b/2c/38/0b2c384b0e930824887f799fe842c836.jpg");
    a {
        color: white;
    }
    a:hover {
        color: @pastmint;
    }
}
.header {
    text-align: center;
    background-color: rgba(5,5,5,0.5);
    padding: 0 20px;
    border-bottom: 1px solid white;
    height: 60px;
    .links {
        width: 35%;
        text-align: right;
        position: absolute;
        right: 5px;
        top: 20px;
        a {
            float: right;
            font-size: 22px;
            color: white;
            padding: 0 5px;
        }
        a:hover {
            color: @pastmint;
        }
    }
    big {
        font-family: 'Zeyada', cursive;
        font-size: 52px;
        margin: 0;
        img {
            width: 50px;
            margin: 0;
        }
    }
}
.main-box {
    width: 90%;
    height: 430px;
    margin: 60px 5%;
    border-radius: 10px;
    background-color: @pastblue;
    text-align: center;
    padding: 15px;
    .side-box {
        background-color: @pastpurple;
        border-radius: 10px;
        width: 20%;
        float: left;
        height: 95%;
        padding: 5px;
        h1 {
            font-family: 'Zeyada', cursive;
            margin: 10px 0;
        }
        p {
            margin: 10px;
            text-align: left;
            font-size: 18px;
        }
    }
    .side-box:nth-child(1) {
        float: right;
    }
    img {
        width: 55%;
        border-radius: 1%;
        box-shadow: 4px 4px 4px 4px gray;
    }
    p {
        margin: 0 25%;
    }
}
.location {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 70%;
    margin: 15px 15%;
    border-radius: 10px;
    background-color: @pastmint;
    padding: 1px 0;
    min-height: 200px;
    height: auto;
    div {
        float: left;
        width: 48%;
        padding: 10px;
        img {
            width: 100%;
            margin: 10px 0;
            border-radius: 5px;
            border: 3px solid white;
        }
        p {
            word-spacing: 2px;
        }
        ul {
            text-align: left;
            li {
                margin: 10px 0;
            }
        }
    }
    div:nth-child(2) {
        border-left: 1px solid black;
    }
    p {
        padding: 10px;
    }
}
.countdown-row {
    display: block;
    padding: 5px;
}
.countdown-section {
    display: block;
}
.countdown-section > span {
    display: inline;
}
.countdown-section+.countdown-section {
    margin-left: 20px;
}
.countdown-section .countdown-amount {
    font-size: 60px;
    line-height: 100px;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: 7px;
}
.countdown-section .countdown-period {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    line-height: 0;
    letter-spacing: 5px;
}
.registry-box {
    background-color: @pastpurple;
    text-align: center;
    width: 80%;
    margin: 15px 10%;
    border-radius: 10px;
    padding: 1px 0;
    min-height: 200px;
    div{
      width:15%;
      margin: 10px;
      padding:5px;
      position: relative;
      left:38%;
        ul {
        }
    }
}
.photos {
    background-color: @pastblue;
    text-align: center;
    width: 80%;
    margin: 15px 10%;
    border-radius: 10px;
    padding: 1px 0;
    min-height: 200px;
    height: auto;
}
.lense-slides {
    clear: both;
    margin-top: 20px;
    position: relative;
    left: 21%;
    width: 60%;
    height: 480px;
}
.lense-slides div {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    -webkit-transition: opacity 0.5s ease-in-out, visibility 0.5s linear 0.5s;
    -moz-transition: opacity 0.5s ease-in-out, visibility 0.5s linear 0.5s;
    -o-transition: opacity 0.5s ease-in-out, visibility 0.5s linear 0.5s;
    transition: opacity 0.5s ease-in-out, visibility 0.5s linear 0.5s;
}
.lense-slides div.active {
    opacity: 1;
    visibility: visible;
    z-index: 100;
    -webkit-transition: opacity 0.5s ease-in-out, visibility 0.5s linear 0s;
    -moz-transition: opacity 0.5s ease-in-out, visibility 0.5s linear 0s;
    -o-transition: opacity 0.5s ease-in-out, visibility 0.5s linear 0s;
    transition: opacity 0.5s ease-in-out, visibility 0.5s linear 0s;
}
ul.lense {
    list-style: none;
    padding-bottom: 10px;
    border-bottom: 4px solid gray;
}
ul.lense li {
    position: relative;
    display: inline;
    padding: 0;
    margin: 0;
}
ul.lense li a {
    padding: 0 10px;
    margin: 0;
}
ul.lense li a.active {
    border-bottom: 4px solid red;
    padding-bottom: 7px;
}
.lense-slides {
    img {
        width: 100%;
    }
}
.lense {
    img {
        width: 10%;
    }
}
